argon2-cffi @ file:///D:/bld/argon2-cffi_1596630110014/work
async-generator==1.10
attrs==19.3.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1596476661092/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805721274/work
chardet==3.0.4
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
colorama==0.4.3
cryptography @ file:///D:/bld/cryptography_1595348955342/work
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1597423298521/work
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///D:/bld/imagecodecs_1593295625443/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
ipydatawidgets @ file:///home/conda/feedstock_root/build_artifacts/ipydatawidgets_1592927540203/work
ipykernel @ file:///D:/bld/ipykernel_1595447157738/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1594803292839/work
ipython @ file:///D:/bld/ipython_1596256513928/work
ipython-genutils==0.2.0
ipyvolume @ file:///home/conda/feedstock_root/build_artifacts/ipyvolume_1591796094004/work
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi @ file:///D:/bld/jedi_1595018503144/work
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
jupyter-server==0.1.1
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-base_1597428569923/work
mistune==0.8.4
mkl-service==2.3.0
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
networkx==2.4
notebook @ file:///D:/bld/notebook_1597285459320/work
numpy @ file:///D:/bld/numpy_1595523078866/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1595958729109/work
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213048891/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1597061474901/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pythreejs==2.2.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
scikit-image==0.17.2
scipy @ file:///C:/ci/scipy_1592916958183/work
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
terminado==0.8.3
testpath==0.4.4
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1597357726309/work
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
traittypes==0.2.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
voila==0.1.21
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164533747/work
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0
